RewriteEngine On
# Direct to frontpage
RewriteRule   ^$ home.php

# About rules
RewriteRule   ^about/{0,1}$ modules/about/about.php
RewriteRule   ^contact/{0,1}$ modules/about/contact.php
RewriteRule   ^privacy/{0,1}$ modules/about/privacy.php
RewriteRule   ^help/{0,1}$ modules/help/help.php

# Auth rules
RewriteRule   ^logout/{0,1}$ modules/auth/logout.php
RewriteRule   ^login/{0,1}$ modules/auth/login.php
RewriteRule   ^profile/{0,1}$ modules/auth/profile.php
RewriteRule   ^profileEdit/{0,1}$ modules/auth/profileEdit.php
RewriteRule   ^lostpass/{0,1}$ modules/auth/forgotpw.php
RewriteRule   ^register/{0,1}$ modules/auth/register.php

# Admin rules
RewriteRule   ^admin/{0,1}$ modules/admin/admin.php
RewriteRule   ^admin/userroles/{0,1}$ modules/admin/adminUserRoles.php
RewriteRule   ^admin/roles/{0,1}$ modules/admin/adminRoles.php
RewriteRule   ^admin/roleperms/{0,1}$ modules/admin/adminRolePerms.php
RewriteRule   ^admin/permissions/{0,1}$ modules/admin/adminPermissions.php

#Corpora rules
RewriteRule   ^corpora/{0,1}$ modules/corpora/corpora.php


# Static-like pages. e.g.: /help --> modules/help/help.php
#RewriteRule   ^([^/]+)/{0,1}$ modules/$1/$1.php
