<p style="text-align: justify;"><strong>The BPS team gratefully acknowledges the financial support of:</strong></p>
<p style="text-align: justify;"><strong>DH@Berkeley Mellon grant: Capacity Building and Integration in the Digital Humanities </strong></p>


<ul style="text-align: justify;">
         <li>2015-2016 &ndash; Creating an Epidoc TEI Conversion Protocol for Berkeley Prospography Services</li>
</ul>
<p style="text-align: justify;"><strong>The National Endowment for the Humanities</strong></p>


<ul style="text-align: justify;">
         <li>2010-2013 &ndash;  Digital Humanities Start-up Grant: <span id="dlResults_ctl02_lblProjectTitle" class="faqQuestion">Berkeley Prosopography Services: Building Research Communities and Restoring Ancient Communities through Digital Tools</span> [<a href="https://securegrants.neh.gov/PublicQuery/main.aspx?f=1&amp;gn=HD-51041-10" target="_blank" rel="noopener">HD-51041-10</a>]</li>
         <li>2014-2018 &ndash; Digital Humanities Implementation Grant: <span id="dlResults_ctl00_lblProjectTitle" class="faqQuestion">Berkeley Prosopography Services: Implementing the Tool-kit [<a href="https://securegrants.neh.gov/PublicQuery/main.aspx?f=1&amp;gn=HK-50161-14" target="_blank" rel="noopener">HK-50161-14</a>]</span></li>
</ul>
<p style="text-align: justify;"><strong>UC Berkeley Social Science Matrix</strong></p>


<ul style="text-align: justify;">
         <li>Fall 2014 &ndash; Prospecting grant. Co-directors: Laurie Pearce, Patrick Schmitz </li>
         <li>2015-2016 &ndash; Research seminar. <a href="http://matrix.berkeley.edu/initiatives/matrix-seminars/prosopography-toward-toolkit" target="_blank" rel="noopener">Developing Tools and Collaborations in Prosopographical and Historical Social Network Research Environments</a>. Co-directors: Laurie Pearce, Patrick Schmitz </li>
</ul>
<p style="text-align: justify;"><strong>UC Berkeley France-Berkeley Fund</strong></p>


<ul style="text-align: justify;">
         <li>2008-2009 &ndash; <a href="https://fbf.berkeley.edu/grantees/grants-awarded-2006-2010">Hellenistic Babylonia: Texts, Iconography &amp; Names</a>. Niek Veldhuis, Department of Near Eastern Studies, University of California Berkeley; Francis Joannès, Département d'Histoire, Université de Paris 1 Panthéon-Sorbonne, Paris
 </li>
</ul>
<p style="text-align: justify;"><strong>and the support in kind from the following institutions and individuals:</strong></p>
<p style="text-align: justify;"><a href="http://research-it.berkeley.edu/" target="_blank" rel="noopener">Research IT</a></p>
<p style="text-align: justify;">Our work would not have been possible without the ongoing support of Berkeley's Research IT unit.  Our technical lead, Patrick Schmitz, has contributed his time and expertise from the outset. At the earliest stages of BPS development, Steven Masover participated in discussions that contributed to the interoperability and extensibility of BPS. Our thanks to director of Research IT David Greenbaum for building and supporting this wonderful team.</p>
<p style="text-align: justify;"><a href="http://digitalhumanities.berkeley.edu" target="_blank" rel="noopener">DH@Berkeley</a></p>


<ul>
         <li style="text-align: justify;">DH@Berkeley staff members Quinn Dombrowski, Digital Humanities Coordinator, and Camille Villa, Digital Humanities Assistant (2014-2016), have generously offered unlimited support in all areas of BPS's development: designing mock-ups of user interfaces, supporting website development, and advising on a myriad of matters small and large.</li>
         <li style="text-align: justify;">DHSI 2015: In Berkeley's first Digital Humanities Summer Institute, Laurie Pearce and UC NES graduate student Eduardo Escobar received training in <a href="https://gephi.org/" target="_blank" rel="noopener">Gephi</a>, an open-source visualization and exploration program. This provided them with the opportunity to consider how and whether aspects or components of this powerful tool could be integrated into the BPS visualization module.</li>
</ul>
