<h2>Project Partners</h2>


Our partners include individuals and research teams who have participated in our development workshops, as well as in our Social Science Matrix prospecting and research seminars. Their ongoing interest and contributions, their probing questions, thoughtful responses to our questions and proposals, and, in the best spirit of collaboration, the sharing of their data, has been critical to the progress of BPS.


<h3>Research Projects</h3>
<ul>
         <li><a href="http://tebtunis.berkeley.edu/" target="_blank" rel="noopener">The Center for Tebtunis Papyri</a> 2015-present.
<ul>
         <li>The Grapheion Archive, Micaela Langellotti, 2015-2016</li>
</ul>
</li>
         <li><a href="http://perseids.org/" target="_blank" rel="noopener">Perseids</a> 2016-present</li>
         <li><a href="http://www.oracc.org" target="_blank" rel="noopener">The Open Richly Annotated Cuneiform Corpus</a> (Oracc) 2009-present</li>
         <li><a href="http://socialarchive.iath.virginia.edu/" target="_blank" rel="noopener">Social Networks and Archival Context</a> (SNAC) 2012-present</li>
</ul>
<h3>Social Science Matrix, UC Berkeley</h3>
<ul>
         <li><a href="https://matrix.berkeley.edu/initiatives/matrix-seminars/prosopography-toward-toolkit">Social Science Matrix Research Seminar 2015-2016</a></li>
         <li><a href="http://matrix.berkeley.edu/research/social-networks-history"> Social Science Matrix Prospecting Seminar 2014</a></li>
</ul>

<h3>Development Workshops</h3>
<strong>March 2010</strong> 
<p> Participants presented corpora of cuneiform texts they curate for consideration of the features needed to conduct useful prosopographical analysis on the data.</p>
<ul>
         <li>Jay Crisostomo: Ušumu, a scribe, active in the Ur III period and wrote ~100 texts</li>
         <li>Andrea Seri: the <i>bīt asiri</i> texts, a corpus of 350 texts from Ur documenting rations to workers, including families, women, and children</li>
         <li>Caroline Waerzeggers: Neo-Babylonian Borsippa, archive of ~3000 texts</li>
         <li>Cornelia Wunsch: 1700 texts in the Neo-Babylonian archive of the Egibi family from Babylon</li>
         <li>Allon Wagner: <a href="http://oracc.museum.upenn.edu/ctij/">CTIJ Cuneiform Texts mentioning Israelites and Judeans</a></li>
         <li>Sabrina Marras: Persepolis Fortification Texts. Affiliated with the <a href="https://oi.uchicago.edu/research/ochre-data-service" target="_blank" rel="noopener">OCHRE</a> project at the Oriental Institute, University of Chicago, Sabrina provided us with an introduction to that database and project architecture.</li>
</ul>
<strong>April 2011</strong>
<p>We built on our 2010 workshop, identifying requirements and desired elements for prosopographical analysis. Some of the 2010 participants returned to campus, and they were joined by some new research partners.</p>
<ul>
        
         <li>Yoram Cohen: CTIJ</li>
         <li>Jay Crisostomo: Ušumu</li>
         <li>Mike Kozuh: Neo-Babylonian economic texts</li>
         <li>John Nielsen: Early Neo-Babylonian kin and family</li>
         <li>Caroline Waerzeggers (via Skype): Neo-Babylonian Borsippa</li>
         <li>Cornelia Wunsch: Egibi</li>
</ul>
