<p><strong>Pearce, L. and P. Schmitz</strong></p>
<p><strong>2014</p></strong>
<p style="padding-left: 30px;"><a href="http://dlib.nyu.edu/awdl/isaw/isaw-papers/7/pearce-schmitz/" target="_blank" rel="noopener noreferrer">Berkeley Prospography Services</a>. In <em>Current Practice in Linked Open Data for the Ancient World</em>, ed. T. Elliott, S. Heath, and J. Muccigrosso. ISAW Papers 7.</p>
<p style="padding-left: 30px;"><a href="https://doi.org/10.1145/2644866.2644870" target="_blank" rel="noopener noreferrer">Humanist-Centric Tools for Big Data: Berkeley Prosopography Services</a>. P. 179-188 in <a href="https://dl.acm.org/citation.cfm?id=2657480">Proceedings of the 2014 ACM Symposium on Document Engineering</a>. DocEng ’14. New York: ACM.</p>
<p><strong>2013</p></strong>
<p style="padding-left: 30px;"><a href="https://www.academia.edu/4131241/_2013_Berkeley_Prosopography_Services_Ancient_Families_Modern_Tools" target="_blank" rel="noopener noreferrer">Berkeley Prosopography Services: Ancient Families, Modern Tools</a>. In Proceedings of the 1st International Workshop on Collaborative Annotations in Shared Environment: metadata, vocabularies and techniques in the Digital Humanities. DocEng '13. New York: ACM.</p>
<p><strong>Semenzin, D.</p></strong>
<p><strong>2013</p></strong>
<p style="padding-left: 30px;"><a href=" https://dspace.library.uu.nl/handle/1874/282685" target="_blank" rel="noopener noreferrer">A framework for Digital Humanities software development and design: the case of Berkeley Prosopography Services</a>. Master's thesis, Utrecht University.</p>
&nbsp;
