
<strong>BPS Team Members</strong>

<p><b>Laurie Pearce</b>, project manager,
Near Eastern Studies, UC Berkeley</p>
<p><b>Patrick Schmitz</b>, technical lead and architect,
Research IT, UC Berkeley</p>
<p><b>Niek Veldhuis</b>, project consultant,
Near Eastern Studies, UC Berkeley</p>

<p><b>Davide Semenzin</b>, core developer, 2013, 2015-2018<p/>
<p><b><a href="https://berkeley.academia.edu/TerriTanaka" target="_blank" rel="noopener noreferrer">Terri Tanaka</a></b>, commmunications &amp; project analyst, 2016-present, UC Berkeley, NES</p>

<p><strong>Past Team Members:</strong></p>
<ul>
	<li><p>Eduardo Escobar, 2016-2018, UC Berkeley, PhD student, NES</p></li>
	<li><p>Gautami Sharma, 2015, UC Berkeley, Undergraduate</p></li>
	<li><p>Pierre Tchetgen, 2009, UC Berkeley, MA student, School of Information</p></li>
</ul>

<p><strong>The following individuals have contributed to the development corpus of cuneiform texts from Hellenistic Uruk (<a href="http://www.oracc.org/hbtin" target="_blank" rel="noopener noreferrer">HBTIN</a>):</strong></p>
<ul>
	<li><p><a href="https://berkeley.academia.edu/ChristopherDBravo">Christopher D. Bravo</a>, 2010-2016, UC Berkeley, PhD student, AHMA</p></li>
	<li><p>Andrew Chen, Spring 2018, UC Berkeley <a href="http://urap.berkeley.edu/">Undergraduate Research Apprentice Program</p></li>
	<li><p><a href="https://umich.academia.edu/JayCrisostomo" target="_blank" rel="noopener noreferrer">C. Jay Crisostomo</a>, 2009-2014, UC Berkeley, PhD student, NES</p></li>
	<li><p><a href="https://smu.academia.edu/StephanieLanginHooper" target="_blank" rel="noopener noreferrer">Stephanie Langin-Hooper</a>, 2009-2012, UC Berkeley, PhD student, NES</p></li>
	<li><p><a href="https://univ-paris1.academia.edu/JulienMonerie">Julien Monerie,</a> 2009-2011, Université Paris 1-Sorbonne</p></li>
	<li><p><a href="https://berkeley.academia.edu/TaliaPrussin" target="_blank" rel="noopener noreferrer">Talia Prussin</a>, 2014-present, UC Berkeley, PhD student, AHMA</p></li>
	<li><p>Celine Vezina, 2017-2018, UC Berkeley <a href="http://urap.berkeley.edu/">Undergraduate Research Apprentice Program</a></p></li>
	<li><a href="https://nyu.academia.edu/RonaldWallenfels">Dr. Ronald Wallenfels</a>, 2009-2014, NYU, <span class="a">Adjunct Associate Professor, Hebrew &amp; Judaic Studies </li></span>
</ul>
