
<h3>The BPS team includes:</h3> 
<ul style="list-style: none;">
<li>Laurie Pearce, project manager, Near Eastern Studies, UC Berkeley</li>
<li>Patrick Schmitz, technical lead and architect, Research IT, UC Berkeley </li>
<li>Niek Veldhuis, project consultant, Near Eastern Studies, UC Berkeley</li>
</li><a href="https://berkeley.academia.edu/TerriTanaka" target="_blank" rel="noopener noreferrer">Terri Tanaka</a>, commmunications &amp; project analyst, Near Eastern Studies, UC Berkeley, 2016-present</li>
</ul>

<h3>Former Team Members:</h3>
<ul style="list-style: none;">
<li>Davide Semenzin, core developer, 2013, 2015-2018</li>
<li>Eduardo Escobar, 2016-2018, UC Berkeley, PhD student, NES</li>
<li>Gautami Sharma, 2015, UC Berkeley, Undergraduate</li>
<li>Pierre Tchetgen, 2009, UC Berkeley, MA student, School of Information</li>
</ul>

<h3>The following individuals have contributed to the development corpus of cuneiform texts from Hellenistic Uruk (<a href="http://www.oracc.org/hbtin" target="_blank" rel="noopener noreferrer">HBTIN</a>):</h3>
<ul style="list-style: none;">
<li>Christopher D. Bravo</a>, 2010-2016, UC Berkeley, PhD student, AHMA</li>
<li><a href="https://umich.academia.edu/JayCrisostomo" target="_blank" rel="noopener noreferrer">C. Jay Crisostomo</a>, 2009-2014, UC Berkeley, PhD student, NES</li>
<li><a href="https://smu.academia.edu/StephanieLanginHooper" target="_blank" rel="noopener noreferrer">Stephanie Langin-Hooper</a>, 2009-2012, UC Berkeley, PhD student, NES</li>
<li><a href="https://univ-paris1.academia.edu/JulienMonerie">Julien Monerie,</a> 2009-2011, Université Paris 1-Sorbonne</li>
<li><a href="https://berkeley.academia.edu/TaliaPrussin" target="_blank" rel="noopener noreferrer">Talia Prussin</a>, 2014-present, UC Berkeley, PhD student, AHMA</li>
<li><a href="https://nyu.academia.edu/RonaldWallenfels">Ronald Wallenfels</a>, 2009-present, NYU, <span class="a">Adjunct Associate Professor, Hebrew &amp; Judaic Studies </li>
</ul>
</span>
